@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body,
  .main-container,
  div#__next {
    height: 100%;
  }
  body {
    font-family: karla;
  }

  [type='text'],
  [type='email'],
  textarea {
    @apply focus:ring-brand focus:border-brand disabled:text-gray-500;
  }

  [type='text'],
  [type='email'] {
    @apply h-[40px] sm:h-[55px];
  }

  .backdrop {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: white;
    z-index: 1;
    display: flex;
    justify-content: center;
  }
}

@layer utilities {
  h1 {
    @apply text-[39px] md:text-[64px] font-semibold font-barlow leading-[41px] md:leading-[67px];
  }
  h2 {
    @apply text-[29px] md:text-[48px] font-semibold font-barlow leading-[35px] md:leading-[57px];
  }
  h3 {
    @apply text-[24px] md:text-[32px] font-barlow leading-[27px] md:leading-[38px] font-semibold;
  }
  .subheading {
    @apply text-[20px] md:text-[24px] font-medium font-barlow leading-[23px] md:leading-[28px];
  }
  .body2 {
    @apply text-[16px] md:text-[20px] font-karla leading-[19px] md:leading-[24px];
  }
  .body1 {
    @apply text-[14px] md:text-[16px] font-karla leading-[150%];
  }
  .subtitle {
    @apply text-[11px] md:text-[13px] font-karla leading-[12.8px] md:leading-[15.2px];
  }
  .text-button {
    @apply text-[14px] md:text-[16px] font-medium uppercase font-karla leading-[16.3px] md:leading-[18.7px];
  }
  .label {
    @apply text-[14px] md:text-[16px] font-medium uppercase font-barlow leading-[19.2px] md:leading-[16.8px];
  }
  .max-w-global {
    @apply max-w-[1379px];
  }
  .px-global {
    @apply px-4;
  }
  .center {
    @apply flex items-center justify-center;
  }
  .btn {
    @apply px-[18px] sm:px-[32px] py-[10px] sm:py-[14.5px] text-white bg-red rounded-[26px] text-button center disabled:bg-opacity-60;
  }
  .active-link {
    @apply text-red font-semibold;
  }
  .inactive-link {
    @apply text-link-text;
  }
  .small-aspect {
    aspect-ratio: 10 / 8;
  }
  .aspect-about {
    aspect-ratio: 13 / 12;
  }
  .error-text {
    @apply text-red text-[14px] font-barlow pl-2;
  }
}

@layer components {
  .backdrop {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    display: flex;
    justify-content: center;
  }
}
